@media (max-width: 768px) {
    .works-sample {
        
        height: 25%;
        text-align: center;
        img {
            width: 40%;
            padding: 10px;
            
        }
    }
    .works-container {
        flex-wrap: wrap;
        justify-content: center;
    }



}

.works-wrapper h2 {
    color: $h1color;
}

.works-sample {
    img {
        width: 100%;
    }
}
@media (min-width:769px) {
    .text-right {
        text-align: right;
    }
}
.works-button {
    padding: 17px 30px;
    border-radius: 20px;
    background:none;
    border: none;
    font-weight: bold;
    color: $h2color;
    transition: .3s;
}
.works-button:hover {
    background-color: red;
    color: white;
    transition: .3s;
}