@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/static/WorkSans-Bold.ttf');
    src: local('WorkSans Bold'), local('WorkSans'),
    url('../fonts/static/WorkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/static/WorkSans-Regular.ttf');
    src: local('WorkSans Regular'), local('WorkSans'),
    url('../fonts/static/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 700;
    font-size: 48px;
    color: $h1color;
}
h2 {
    color: $h2color;
    font-size: 30px;
    font-family: $font-family;
    font-weight: bold;
}
h3 {
    color: $h3color;
    font-family: 'Work Sans', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
}
h4 {
    font-family:'Work Sans SemiBold', 'sans-serif'y;
    font-size: 16px;
    font-weight: 400;
    color: $h4color;
}
h5 {
    font-family: $font-family;
    font-size: 10px;
    font-weight: 200;
    color: white;
}

@media (max-width:560px) {
    h1 {

        font-size: 36px;
        
    }
}